@font-face {
    font-family: minecraft;
    src: url("assets/Minecraft.ttf") format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #B8C1B1;
    font-family: Roboto;
}

img{
    width: 50px;
}

header > img {
    width: 75px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav > ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

li{
    padding: 5px;
    font-size: 25px;
}

li:hover{
    border: #26877F 5px solid;
}