@font-face {
    font-family: minecraft;
    src: url("assets/Minecraft.ttf") format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #C3B091;
    font-family: Roboto;
}

img{
    width: 75px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #26877F;
}

nav{
    background-color: #26877F;
}

nav > ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

li{
    padding: 5px;
}

a:hover{
    font-size: 30px;
    color: #f3dab3;
}

a{
    text-decoration:none;
    color: #fff;
    text-shadow: #353535 2px 1px 2px;
    font-size: 25px;
}

h1{
    margin-top: 5px;

    font-weight: bolder;
}

h1,h2{
    color: #B53434;
}
#main{
    width: 100vw;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


#content{
    padding: 5px;
    margin-left: 50px;
    margin-left: 50px;
    outline: #a79372 3px solid;
    border-radius: 50px;
    background-color: #f3dab3;
    box-shadow: #353535 5px 5px 5px;
}
#content > article{
    outline: #C3B091 3px solid;
    padding: 5px;
    border-radius: 5px;
}

#content > article:hover{
    box-shadow: #353535 5px 5px 5px;
}

.margin{
    margin-bottom: 50px;
}

h2, a, h1{
    font-family: minecraft;
}

.icons{
    color:green;
}

p{
    color: #eb8613;
}

div > p{
    color: white;
}